@model Online_Survey.Models.User
@{
    Layout = "_AdminLayout";
}
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="User_id" />
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="P_no" class="control-label"></label>
                <select asp-for="P_no" class="form-control" asp-items="ViewBag.P_no"></select>
                <span asp-validation-for="P_no" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User_type" class="control-label"></label>
                <input asp-for="User_type" class="form-control" />
                <span asp-validation-for="User_type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reg_date" class="control-label"></label>
                <input asp-for="Reg_date" class="form-control" />
                <span asp-validation-for="Reg_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
